[Unit]
Description=Run Menteso reminders Mondays at 20:00 IST

[Timer]
OnCalendar=Mon *-*-* 14:30:00 UTC
Persistent=false
RandomizedDelaySec=0
AccuracySec=1s
Unit=invoice-reminder-single.service

[Install]
WantedBy=timers.target
